@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
  margin: 0;
  font-family: 'Ubuntu', serif;
  background-color: rgb(119, 129, 92);
  padding-bottom: 3%;
}

nav {
  margin: 0;
  font-size: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  background-color: rgb(40, 40, 40, .9);
  box-shadow: 0px 1px 40px 5px rgb(0, 0, 0, .6);
}

form {
  padding: 1em;
  padding-top: 5%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

.right {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  transition: all 150ms linear;
  border-bottom: 1px solid transparent;
}

li a:hover {
  background-color: rgb(255, 255, 255, .05);
  border-color: white;
}

a {
  color: inherit;
}

.post {
  margin-bottom: .4em;
  margin-left: 2em;
  margin-right: 2em;
  padding: 1em;
  background-color: rgb(255,255,255, 0.2);
  position: relative;
}

.posthead {
  font-style: italic;
  font-size: 1em;
}

.date {
  position: absolute;
  bottom: .5em;
  right: .5em;
  background-color: rgb(255, 255, 255, .3);
  padding: 10px;
}

.name {
  font-weight: bold;
  text-decoration: #333 underline;
  transition: all 150ms linear;
}

.name:hover {
  background-color: rgb(255, 255, 255, .3);
  font-style: normal;
  transform: skewY(200deg);
}

.postcon {
  margin-left: 2%;
}

#del {
  padding: 1em;
  padding-top: 0;
}
