@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
  margin: 0;
  font-family: 'Ubuntu', serif;
  background-color: rgb(119, 129, 92);
  padding-bottom: 3%;
}

nav {
  margin: 0;
  font-size: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  background-color: rgb(40, 40, 40, .9);
  box-shadow: 0px 1px 40px 5px rgb(0, 0, 0, .6);
}

#container {
  padding: 1em;
  padding-top: 5%;
}

form {
  padding-left: .5em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  transition: all 150ms linear;
}

li:hover {
  background-color: rgb(255, 255, 255, .05);
}

li:active {
  background-color: rgb(0, 0, 0, .2);
}

li:after {
  content: '';
  width: 0%;
  height: 1px;
  display: block;
  background: white;
  transition: 300ms;
}

li:hover:after {
  width: 100%;
}

.current {
  background-color: rgb(255, 255, 255, .05);
}

.current:after {
  content: '';
  width: 100%;
  height: 1px;
  display: block;
  background: white;
}

.right {
  float: right;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
}

a {
  color: inherit;
}

.post {
  margin: 1em 4em 1em 4em;
  padding: .6em;
  background-color: rgb(255,255,255, 0.2);
  position: relative;
}

.posthead {
  font-style: italic;
  font-size: 1em;
}

.date {
  position: absolute;
  bottom: .5em;
  right: .5em;
  background-color: rgb(255, 255, 255, .3);
  padding: 10px;
  float: right;
}

.datename {
  font-weight: bold;
  text-decoration: #333 underline;
  transition: all 150ms linear;
}

.datename:hover {
  background-color: rgb(255, 255, 255, .3);
  font-style: normal;
}

.postcon {
  margin-left: 2%;
}

#reset {
  padding-top: 1em;
}
