<!doctype html>
<html>
  <head>
    <title>penny for ur thoughts</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='shortcut icon' href='https://img.icons8.com/dusk/100/000000/expensive.png'/>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/materialize.css') }}">
  </head>
  <body>
    <form action='/' method='post'>
        <input placeholder='name' name='name'>
        <input placeholder='thoughts?' name='post'>
        <input type='submit' value='submit'>
    </form>
    {% for post in posts %}
    <div class='post'>{{ post[1] + ': ' + post[2] }}</div>
    {% endfor %}

    <script type='text/javascript' src="{{ url_for('static', filename='js/materialize.js') }}"></script>
  </body>
</html>
