<!doctype html>
<html>
  <head>
    <title>penny for ur thoughts | main</title>
    <link rel='shortcut icon' href="{{ url_for('static', filename='img/favicon.ico') }}"/>
    <link rel= 'stylesheet' type= "text/css" href= "{{ url_for('static', filename='css/style.css') }}">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
      $(function() {
        $('a#test').bind('click', function() {
          $.getJSON('/refresh',
              function(data) {
            //do nothing
          });
          return false;
        });
      });
    </script>
  </head>

  <body>
    <nav>
      <ul>
        <li class='current'><a href='/'>home</a></li>
        <li class='right'><a href="{{ url_for('login') }}">login</a></li>
        <li class='right'><a href='#'>archives</a></li>
        <li class='right'><a href='#'>about</a></li>
      </ul>
    </nav>

    <div id='container'>

      <form action='/' method='post'>
        <input placeholder='name' name='name'>
        <input placeholder='thoughts?' name='post'>
        <input type='submit' value='submit'>
      </form>

      <form id='reset'>
          <a href=# id=test><button class='btn btn-default'>reset</button></a>
          <input type='submit' value='submit'>
      </form>

      {% for post in posts | reverse %}
      <div class='post'>
        <p class='posthead'>
          <span class='datename'><a href="/users/{{ clean(post[1])[1] }}">{{ post[1] }}</a></span> said:
        </p>
        <p class='postcon'>"{{ post[2] }}"</p>
        <div class='date'>{{ post[0] }}</div>
      </div>
      {% endfor %}

    </div>

  </body>
</html>
