<!doctype html>
<html>
  <head>
    <title>penny for ur thoughts | main</title>
    <link rel='shortcut icon' href="{{ url_for('static', filename='img/favicon.ico') }}"/>
    <link rel= 'stylesheet' type= "text/css" href= "{{ url_for('static', filename='css/style.css') }}">
  </head>

  <body>
    <nav>
      <ul>
        <li><a href='/'>home</a></li>
        <li class='current right'><a href="{{ url_for('login') }}">login</a></li>
        <li class='right'><a href='#'>archives</a></li>
        <li class='right'><a href='#'>about</a></li>
      </ul>
    </nav>

    <div id='container'>
      oh hey?
    </div>

  </body>
</html>
