<!doctype html>
<html>
  <head>
    <title>penny for ur thoughts | {{ user }}</title>
    <link rel='shortcut icon' href="{{ url_for('static', filename='img/favicon.ico') }}"/>
    <link rel= 'stylesheet' type= "text/css" href= "{{ url_for('static', filename='css/style.css') }}">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
      $(function() {
        $('a#test').bind('click', function() {
          $.getJSON('/refresh',
              function(data) {
            //do nothing
          });
          return false;
        });
      });
    </script>
  </head>

  <body>
    <nav>
      <ul>
        <li><a href='/'>home</a></li>
        <li class='right'><a href="{{ url_for('login') }}">login</a></li>
        <li class='right'><a href='#'>archives</a></li>
        <li class='right'><a href='#'>about</a></li>
      </ul>
    </nav>

    <div id='container'>

      {% for post in getuserposts(user) | reverse %}
      <div class='post'>
        <p class='posthead'>
          on <span class='datename'>{{ post[0] }}</span>, ...
        </p>
        <p class='postcon'>"{{ post[2] }}"</p>
      </div>
      {% endfor %}
    </div>

  </body>
</html>
